<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block externalscript %} {% endblock %}

    <link rel="stylesheet" href="/static/css/style.css" />
    {% block css %} {% endblock %}

    <title>SAT</title>
</head>

<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <p style="font-size: 50px">SAT</p>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-right ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Teacher Login</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">Parent Login</a>
                </li>
            </ul>
        </div>
    </nav>



    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
        <h3 class="flashes text-center" style="color: yellow">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </h3>
    </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %} {% endblock %}
    </div>




    <!-- Bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- custom javascript -->
    <script src="/static/js/script.js"></script>

</body>

</html>